/* ThemeSelect.module.css */
.card {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.header {
    padding: var(--mantine-spacing-xl);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.body {
    padding: var(--mantine-spacing-xl);
}

.themeButton {
    width: 100%;
    padding: var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    border: 2px solid;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-md);
    text-align: left;
}

/* Estado No Seleccionado */
.unselected {
    background-color: transparent;
    border-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.unselected:hover {
    /* Hover sutil con el color principal */
    border-color: var(--mantine-primary-color-filled);
}

/* Estado Seleccionado Dinámico */
.selected {
    border-color: var(--mantine-primary-color-filled);
    background-color: light-dark(var(--mantine-primary-color-light),
            rgba(var(--mantine-primary-color-light-color), 0.15));
}

.iconSelected {
    color: var(--mantine-primary-color-filled);
}

.iconUnselected {
    color: var(--mantine-color-gray-5);
}

/* Opcional: Para que el texto del label también use el color principal al estar seleccionado */
.labelSelected {
    color: var(--mantine-primary-color-filled);
    font-weight: 600;
}