/* Pagination.module.css */

.control {
    /* Estilo base para todos los botones */
    background-color: transparent !important;
    border: none !important;
    border-radius: none !important;
    transition: background-color 150ms ease, border-color 150ms ease;
}

/* Hover para botones no activos */
.control:hover:not([data-active]):not(:disabled) {
    background-color: none;
}

/* ESTADO ACTIVO: Usando el color principal de Mantine */
.control[data-active] {
    /* Estas variables cambian automáticamente si cambias el primaryColor en el tema */
    background-color: var(--mantine-primary-color-filled) !important;
    border-color: var(--mantine-primary-color-filled) !important;
}

/* Estado Deshabilitado */
.control:disabled,
.control[data-disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: none !important;
}

.option {
    transition: background-color 120ms ease;
}

.option:hover {
    background-color: var(--mantine-primary-color-filled) !important;
}

.option[data-combobox-selected] {
    background-color: var(--mantine-primary-color-filled) !important;
}