.themeBtn {
    background-color: light-dark(white, oklch(27.8% 0.033 256.848));
    color: light-dark(black, white);
    border: 1px solid light-dark(oklch(92.8% 0.006 264.531), oklch(37.3% 0.034 259.733));
    transition: all 0.15s ease;
    border-radius: 0.375rem;

    &[data-active] {
        background-color: var(--mantine-primary-color-filled);
        border-color: var(--mantine-primary-color-filled);
    }
}