:root[data-mantine-color-scheme="light"] {
    --app-background-color: var(--mantine-color-white);
    --app-primary-color: var(--mantine-primary-color-8);
    --app-info-color: var(--mantine-primary-color-8);
    --app-error-color: var(--mantine-color-red-6);
}

:root[data-mantine-color-scheme="dark"] {
    --app-background-color: var(--mantine-color-dark-6);
    --app-primary-color: var(--mantine-primary-color-9);
    --app-info-color: var(--mantine-primary-color-9);
    --app-error-color: var(--mantine-color-red-6);
}
