.button {
    cursor: pointer;
}

.circle {
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease, box-shadow 300ms ease;
}

.button:hover .circle {
    transform: scale(1.1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.icon {
    color: white;
}

.text {
    color: light-dark(oklch(37.3% 0.034 259.733), oklch(87.2% 0.01 258.338));
    transition: color 200ms ease;
}

.button:hover .text {
    color: var(--mantine-primary-color-filled);
}