.card {
    background-color: light-dark(white, var(--mantine-color-dark-8));
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    overflow: hidden;

    /* shadow-lg */
    box-shadow: var(--mantine-shadow-lg);

    /* mejor rendimiento que transition: all */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    /* hover:scale-105 */
    box-shadow: var(--mantine-shadow-2xl);
    /* hover:shadow-2xl */
}