.icon {
    width: 22px;
    height: 22px;
}

.dark {
    @mixin dark {
        display: none;
    }

    @mixin light {
        display: block;
    }
}

.light {
    @mixin light {
        display: none;
    }

    @mixin dark {
        display: block;
    }
}

.speechBubble {
    position: absolute;
    bottom: 260px;
    left: 120px;
    white-space: nowrap;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 24px;

    background: light-dark(var(--mantine-color-white),
            var(--mantine-color-dark-6));

    color: light-dark(var(--mantine-color-dark-9),
            var(--mantine-color-gray-0));

    box-shadow: 0 6px 18px light-dark(rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.55));
}

/* Nubes pequeñas */
.speechBubble::before,
.speechBubble::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: light-dark(var(--mantine-color-white),
            var(--mantine-color-dark-6));

    box-shadow: 0 6px 18px light-dark(rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.55));
}

/* burbuja 1 */
.speechBubble::before {
    width: 26px;
    height: 26px;
    bottom: -30px;
    left: 24px;
}

/* burbuja 2 */
.speechBubble::after {
    width: 18px;
    height: 18px;
    bottom: -50px;
    left: 46px;
}