.item {
    display: flex;
    align-items: center;
}

.itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
}

.rating {
    position: absolute;
    top: var(--mantine-spacing-xs);
    right: 12px;
    pointer-events: none;
}

.itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}