.navbar {
    height: 100vh;
    width: 300px;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    padding-bottom: 0;
}

.header {
    padding: var(--mantine-spacing-md);
    padding-top: 0;
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.links {
    margin-top: 10px;
    flex: 1;
}

.linksInner {
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
}

.control {
    font-weight: 500;
    display: block;
    height: 50px;
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    color: var(--mantine-color-text);
    font-size: var(--mantine-font-size-sm);
    border-radius: var(--mantine-radius-md);
}

.control[data-active],
.control[data-active]:hover {
    box-shadow: var(--mantine-shadow-sm);
    background-color: light-dark(var(--mantine-primary-color-6), var(--mantine-primary-color-8));
    color: var(--mantine-color-white);
}

.control:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.link {
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
    margin-left: var(--mantine-spacing-xl);
    margin-right: var(--mantine-spacing-xl);
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.link[data-active],
.link[data-active]:hover {
    color: var(--mantine-primary-color-light-color);
}

.chevron {
    transition: transform 200ms ease;
}