/* Pagination.module.css */

.control {
    /* Estilo base para todos los botones */
    background-color: light-dark(white, oklch(27.8% 0.033 256.848));
    color: light-dark(black, white);
    border: 1px solid light-dark(oklch(92.8% 0.006 264.531), oklch(37.3% 0.034 259.733));
    border-radius: var(--mantine-radius-md);
    transition: background-color 150ms ease, border-color 150ms ease;
}

/* Hover para botones no activos */
.control:hover:not([data-active]):not(:disabled) {
    background-color: light-dark(oklch(98% 0 0), oklch(35% 0.033 256.848));
}

/* ESTADO ACTIVO: Usando el color principal de Mantine */
.control[data-active] {
    /* Estas variables cambian automáticamente si cambias el primaryColor en el tema */
    background-color: var(--mantine-primary-color-filled) !important;
    border-color: var(--mantine-primary-color-filled) !important;
    color: var(--mantine-color-white) !important;
}

/* Estado Deshabilitado */
.control:disabled,
.control[data-disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: light-dark(white, oklch(27.8% 0.033 256.848));
}

.option {
    transition: background-color 120ms ease;
}

.option:hover {
    background-color: var(--mantine-primary-color-filled) !important;
    color: var(--mantine-primary-color-contrast) !important;
}

.option[data-combobox-selected] {
    background-color: var(--mantine-primary-color-filled) !important;
    color: var(--mantine-primary-color-contrast) !important;
}