.itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.group:hover .itemTitle {
    color: var(--mantine-primary-color);
}

.group {
    transition: box-shadow 300ms ease, transform 300ms ease;
}

.group:hover {
    box-shadow: var(--mantine-shadow-xl);
    transform: translateY(-2px);
}

.action {
    align-self: flex-start;
    pointer-events: none;
}

.arrow {
    transition: transform 200ms ease;
}

.group:hover .arrow {
    transform: translateX(2px);
}

.group:hover .action {
    gap: 1px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    /* redondeado */
    padding: 0.5rem;
    transition: all 0.3s ease;

    /* estado inicial “light” */
    background-color: 0.1;
}

/* Hover sobre la Card */
.group:hover .iconWrapper {
    background-color: var(--icon-rgb);
    color: white;
}

.rating {
    position: absolute;
    top: 5px;
    right: 5px;
    pointer-events: none;
}